/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  background-color: var(--color-background);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;

  color: var(--color-main);
  margin-bottom: 100px;
}

.streach {
  width: 100%;
  max-width: 700px;
  margin-inline: auto;
}

.header {
  padding-inline: 14px;
  padding-bottom: 25px;
  padding-top: clamp(7.5rem, 7.214rem + 1.429vw, 8.5rem);
  background-color: var(--color-background);
  border: 2px solid var(--color-main, #00cc14);
  display: grid;
  justify-content: center;
  align-items: end;
  margin-block: 100px;
  font-family: var(--font-family-interface);
}

.header__title {
  font-size: clamp(3.063rem, 2.777rem + 1.429vw, 4.063rem);
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.714rem + 0.804vw, 1.438rem);
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}
.theme-menu__list {
  display: grid;
  justify-content: center;
  gap: 14px;
}

.theme-menu__button {
  border: none;
  background: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  text-transform: uppercase;
  line-height: normal;
  font-size: 14px;
}

.theme-menu__button::after {
  content: "";
  margin-top: 1px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-main, #00cc14);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
  position: relative;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  left: -14px;
  animation: inline-twitch 0.5s infinite ease-in-out alternate;
}

.button {
  width: 100%;
  position: relative;
  font-family: var(--font-family-interface);
  border: 2px solid var(--color-main, #00cc14);
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 9px 17px;
  line-height: 0.9;
  white-space: nowrap;
}

.button__text {
  position: relative;
  color: var(--color-button-text);
  mix-blend-mode: difference;
  z-index: 1;
}

.button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 2px);
  content: "";
  display: block;
  background-color: var(--color-main, #00cc14);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--color-main);
}
.button:hover {
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.content {
  display: grid;
  gap: 50px;
  margin-bottom: 100px;
}

.card {
  background-color: var(--color-background);
  border: 2px solid var(--color-main, #00cc14);
}
.card__title {
  font-family: var(--font-family-base);
  font-size: 18px;
  line-height: normal;
  padding: 3px 24px 3px 10px;
  font-variation-settings: "wght" var(--font-weight-heavy, 785);
}
.card__img-wrapper {
  position: relative;
  border-block: 2px solid var(--color-main, #00cc14);
  aspect-ratio: 1;
}
.card__img-lable {
  position: absolute;
  top: 25px;
  right: clamp(0.688rem, 0.438rem + 1.25vw, 1.563rem);
  z-index: 1;
  font-size: 14px;
  font-family: var(--font-family-interface);
  text-transform: uppercase;
  line-height: normal;
  color: var(--color-main, #00cc14);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--color-background), 0 1px var(--color-background),
    1px 0 var(--color-background), 0 -1px var(--color-background);
}

@supports (-webkit-text-stroke: 1px #000000) {
  .card__img-lable {
    -webkit-text-stroke: 1px var(--color-background);
    text-shadow: none;
  }
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.card__content {
  padding: 25px;
}

.card__actions {
  display: flex;
  justify-content: flex-end;
}

.card__text {
  font: var(--font-base);
  margin-bottom: 27px;
  /* font:var(--font-base-bold); */
  /* font:var(--font-interface-compact); */
  /* font:var(--font-interface-hight); */
  /* font:var(--font-interface-lg); */
  /* font:var(--font-interface-md); */
  /* font:var(--font-interface-sm); */
}

.card__text:last-of-type {
  margin-bottom: 25px;
}

.card__icon-button {
  background: none;
  border: none;
}

.card__like-button {
  width: 130px;
}

.like-icon {
}

.like-icon.is-liked {
}

.save-button {
  gap: 8px;
  padding: 15px 20px;
  margin-inline: auto;
  width: auto;
}

.save-button__icon {
  color: var(--color-button-text);
  mix-blend-mode: difference;
  width: 21px;
}

.filter-blur {
  filter: blur(5px);
}
.filter-invert {
  filter: invert(1);
}
.filter-grayscale {
  filter: grayscale(1);
}
.filter-sepia {
  filter: sepia(1);
}
.filter-brightness {
  filter: brightness(150%);
}
.filter-contrast {
  filter: contrast(200%);
}
.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-crazy {
  filter: hue-rotate(90deg) saturate(200%) brightness(150%);
}

@media (width<=375px) {
  .save-button__icon {
    width: 28px;
  }

  .save-button {
    flex-direction: column;
  }
}

.save-dialog {
  background-color: var(--color-background);
  border: 2px solid var(--color-main, #00cc14);
  max-width: 360px;
  font-family: var(--font-family-interface);
  color: var(--color-main);
  text-transform: uppercase;
  padding-block: 30px;
}

.save-dialog__content {
}

.save-dialog[open] {
  display: grid;
  grid-template-columns: 39px 1fr;
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
  font-size: 18px;
  line-height: 1.5;
  /* justify-items: stretch; */
}

.save-dialog__form {
  grid-column: span 2;
}

.save-dialog::backdrop {
  opacity: 0.75;
  background: var(--color-base-100, #000);
}
