/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  color-scheme: light;
  --color-background: var(--color-base-0);
  --color-main: var(--color-base-100);
  --color-button-text: var(--color-background);

  --font-weight-base: 400;
  --font-weight-bold: 700;
  --background-image: var(--bg-gradient-0);
}

:root.theme-dark {
  color-scheme: dark;
  --color-background: var(--color-base-100);
  --color-main: var(--color-green-0);
  --color-button-text: var(--color-main);
  --font-weight-base: 465;
  --font-weight-bold: 785;

  --background-image: var(--bg-gradient-100);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--color-base-0);
    --color-main: var(--color-base-100);
    --color-button-text: var(--color-background);
    --font-weight-base: 400;
    --font-weight-bold: 700;

    --background-image: var(--bg-gradient-0);
  }
}
