/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --color-background: var(--clr-palette-white);
  --color-main: var(--clr-palette-black);
  --color-button-text: var(--clr-palette-white);
  --color-bg-gradient-main: var(--clr-palette-light-gray);
  --color-bg-gradient-accent: var(--clr-palette-light-whisper);
  --color-bg-gradient-fade: var(--clr-palette-blackish);
  --bg-gradient-start-position: 0.01%;

  --font-weight-base: 400;
  --font-weight-bold: 700;
}

:root.theme-dark {
  --color-background: var(--clr-palette-black);
  --color-main: var(--clr-palette-lime);
  --color-button-text: var(--clr-palette-lime);
  --color-bg-gradient-main: var(--clr-palette-black);
  --color-bg-gradient-accent: var(--clr-palette-office-green);
  --color-bg-gradient-fade: var(--clr-palette-cucumber);
  --bg-gradient-start-position: 0;

  --font-weight-base: 465;
  --font-weight-bold: 785;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--clr-palette-white);
    --color-main: var(--clr-palette-black);
    --color-button-text: var(--clr-palette-white);
    --color-bg-gradient-main: var(--clr-palette-light-gray);
    --color-bg-gradient-accent: var(--clr-palette-light-whisper);
    --color-bg-gradient-fade: var(--clr-palette-blackish);
    --bg-gradient-start-position: 0.01%;

    --font-weight-base: 400;
    --font-weight-bold: 700;
  }
}
