/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* color palette */
  --clr-palette-black: #000000;
  --clr-palette-blackish: #1a1a1a;
  --clr-palette-light-gray: #d3d3d3;
  --clr-palette-light-whisper: #e7e7e7;
  --clr-palette-white: #ffffff;
  --clr-palette-lime: #00cc14;
  --clr-palette-office-green: #007f0c;
  --clr-palette-cucumber: #004306;
  --clr-palette-red: #ff0000;

  /* fonts */
  --font-family-base: "Inter", sans-serif;
  --font-family-interface: "PressStart2P", fantasy;

  --font-weight-interface: 400;

  /* animation vars */
  --transition-fill-linear: fill 0.3s linear;
  --transition-time-func: 0.3s ease;

  /* all themes colors */
  --color-heart: var(--clr-palette-red);

  /* dark theme vars */
  --color-background: var(--clr-palette-black);
  --color-main: var(--clr-palette-lime);
  --color-button-text: var(--clr-palette-lime);
  --color-bg-gradient-main: var(--clr-palette-black);
  --color-bg-gradient-accent: var(--clr-palette-office-green);
  --color-bg-gradient-fade: var(--clr-palette-cucumber);
  --bg-gradient-start-position: 0;
  --font-weight-base: 465;
  --font-weight-bold: 785;

  /* backgrounds */
  --background-image: repeating-linear-gradient(
      90deg,
      var(--color-bg-gradient-main) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      var(--color-bg-gradient-main) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      var(--color-bg-gradient-accent) var(--bg-gradient-start-position),
      var(--color-bg-gradient-fade)
    );

  /* borders */
  --border-width-line: 2px solid;
  --border-main: var(--border-width-line) var(--color-main);
}
